In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv("FullyCleant.csv")

In [5]:
data.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

In [6]:
data.head()

,assists,damageDealt,headshotKills,heals,killPlace,kills,maxPlace,winPlacePerc,playersjoined,playersJoined,...,matchType_normal-duo,matchType_normal-duo-fpp,matchType_normal-solo,matchType_normal-solo-fpp,matchType_normal-squad,matchType_normal-squad-fpp,matchType_solo,matchType_solo-fpp,matchType_squad,matchType_squad-fpp
0,0,0.00,0,0,60,0,28,0.4444,96,96,...,0,0,0,0,0,0,0,0,0,1
1,0,91.47,0,0,57,0,26,0.6400,91,91,...,0,0,0,0,0,0,0,0,0,1
2,1,68.00,0,0,47,0,50,0.7755,98,98,...,0,0,0,0,0,0,0,0,0,0
3,0,32.90,0,0,75,0,31,0.1667,91,91,...,0,0,0,0,0,0,0,0,0,1
4,0,100.00,0,0,45,1,97,0.1875,97,97,...,0,0,0,0,0,0,0,1,0,0

In [7]:
from sklearn.model_selection import train_test_split

In [16]:
X=data.drop("winPlacePerc",axis=1)
y=data["winPlacePerc"]
X.head()
y.head()

0    0.4444
1    0.6400
2    0.7755
3    0.1667
4    0.1875
Name: winPlacePerc, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model=LinearRegression()

In [13]:
model.fit(X_train,y_train)

LinearRegression()

In [17]:
predictions=model.predict(X_test)

In [18]:
from sklearn import metrics

In [19]:
print(metrics.mean_absolute_error(y_test,predictions))

0.12277497067310247

In [20]:
print(metrics.mean_squared_error(y_test,predictions))

0.02641308617586037

In [21]:
print(np.sqrt(metrics.mean_squared_error(y_test,predictions)))

0.16252103302606827

In [22]:
print(metrics.r2_score(y_test,predictions))

0.7227183336211408

In [36]:
X_test.head()
df=pd.concat(X_test,pd.DataFrame(np.array([0,45.7,4,2,32,10,10,98,98,4,780,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0])))

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"